<% provide(:title, "About") %>
<h1>About</h1>
<p>
  ここは家計簿アプリのAboutページです。
  このアプリは以下のサイトを参考に作成しています。<br>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a><br>
  <a href="http://inomacreate.com/ruby-on-rails_simple_kakeibo_1/">Inoma Create 
  【Ruby on Rails開発奮闘記】シンプルな家計簿アプリを作る</a>
</p>